
// Responsive Stuff

@media screen and (max-width: 820px ) {
  header, .main-content, footer {
    .contain {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 765px ) {
  body {
    font-size: 100%;
  }
}

@media screen and (max-width: 400px ) {
  body {
    font-size: 90%;
  }
}

@media screen and (max-width: 320px ) {
  
  body {
    font-size: 85%;
  }
  .modal {
    top: 30px;
    left: 10px;
    right: 10px;
    padding: 20px;
  }
}